@font-face {
  font-family: 'Star Jedi';
  src: url("../type/starjedi-webfont.woff2") format("woff2"), url("../type/starjedi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.swsaga.sheet input[type="text"],
.swsaga.sheet input[type="number"],
.swsaga.sheet input[type="password"],
.swsaga.sheet input[type="date"],
.swsaga.sheet input[type="time"],
.swsaga.sheet select,
.swsaga.sheet textarea {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  width: 100%;
  line-height: 180%;
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  height: 100%;
  margin: 0;
}

.swsaga.sheet p,
.swsaga.sheet span,
.swsaga.sheet button,
.swsaga.sheet a,
.swsaga.sheet input,
.swsaga.sheet select,
.swsaga.sheet textarea,
.swsaga.sheet th,
.swsaga.sheet td {
  font-family: "Verdana";
}

.swsaga.sheet a:hover {
  text-shadow: none;
}

.swsaga.sheet h1,
.swsaga.sheet h2,
.swsaga.sheet h3,
.swsaga.sheet h4,
.swsaga.sheet label {
  font-family: "Star Jedi";
  letter-spacing: 1px;
}

.swsaga.sheet .window-content {
  background: white;
}

.swsaga.sheet .window-content form.character {
  display: grid;
  grid-template-rows: 150px 450px auto 150px;
  grid-template-columns: 150px auto;
  gap: .5rem;
  height: 100%;
  width: 100%;
  background: #368fe2;
  overflow-y: auto;
  overflow-x: hidden;
}

.swsaga.sheet .window-content form.character .sheet-header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: grid;
  gap: .5rem;
  grid-template-rows: 150px auto;
  grid-template-columns: 150px 3fr 1fr 150px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.swsaga.sheet .window-content form.character .sheet-header img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 150px;
  height: 150px;
  border-radius: 3px;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:first-of-type {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:first-of-type .character-name {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:first-of-type .character-level {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:first-of-type .species-select {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:first-of-type .class-select {
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container {
  display: grid;
  gap: .5rem;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:last-of-type {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  display: grid;
  gap: .5rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:last-of-type .hitpoints {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:last-of-type .hitpoints input {
  height: 100%;
  font-size: 2rem;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:last-of-type .condition {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:last-of-type .shieldReduction {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:last-of-type .damageReduction {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.swsaga.sheet .window-content form.character .sheet-header .sub-container:last-of-type .threshold {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.swsaga.sheet .window-content form.character .sheet-header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.swsaga.sheet .window-content form.character .sheet-header .row .row-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0.25rem;
}

.swsaga.sheet .window-content form.character .stat-block {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.swsaga.sheet .window-content form.character .stat-block div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.swsaga.sheet .window-content form.character .stat-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  gap: .5rem;
  height: 45px;
}

.swsaga.sheet .window-content form.character .stat-block span {
  font-size: 1rem;
  background-color: #2264a1;
  border-radius: 3px;
  color: white;
  line-height: 160%;
  height: 25px;
  width: 35px;
  z-index: 2;
}

.swsaga.sheet .window-content form.character .character-page {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  border: solid 1px white;
  border-radius: 3px;
  padding: 0 1rem;
}

.swsaga.sheet .window-content form.character .character-page nav.sheet-tabs {
  border-top: none;
  border-bottom-color: white;
  margin-bottom: 1rem;
}

.swsaga.sheet .window-content form.character .character-page nav.sheet-tabs .item.active {
  text-shadow: 0 0 10px #2694d4;
}

.swsaga.sheet .window-content form.character .character-page nav.sheet-tabs .item:hover {
  text-shadow: 0 0 10px #2694d4;
}

.swsaga.sheet .window-content form.character .character-page .sheet-body {
  height: calc(100% - 52px);
}

.swsaga.sheet .window-content form.character .character-page .skills {
  height: 100%;
  overflow-y: scroll;
  font-size: .75rem;
}

.swsaga.sheet .window-content form.character .character-page .skills table {
  border: none;
}

.swsaga.sheet .window-content form.character .character-page .skills table th {
  text-align: left;
  width: 30px;
}

.swsaga.sheet .window-content form.character .character-page .skills table th:nth-of-type(2) {
  width: 125px;
}

.swsaga.sheet .window-content form.character .character-page .skills table tr:nth-child(even) {
  background-color: #D6EEEE;
}

.swsaga.sheet .window-content form.character .character-page .skills table tr:nth-child(odd) {
  background-color: #faffff;
}

.swsaga.sheet .window-content form.character .character-page .tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.swsaga.sheet .window-content form.character .character-page .tab.active p {
  margin: 4px 0;
}

.swsaga.sheet .window-content form.character .current-equipment {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

.swsaga.sheet .window-content form.character .current-equipment > div {
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
}

.swsaga.sheet .window-content form.character .current-equipment > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: .5rem;
}

.swsaga.sheet .window-content form.character .current-equipment .item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 130px;
  height: 87px;
  border-radius: 3px;
  font-size: .75rem;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 2px 2px 3px rgba(44, 44, 44, 0.144);
  box-shadow: 2px 2px 3px rgba(44, 44, 44, 0.144);
  margin: 0;
  position: relative;
  overflow: hidden;
}

.swsaga.sheet .window-content form.character .current-equipment .item-card:hover {
  -webkit-box-shadow: 2px 2px 8px rgba(44, 44, 44, 0.336);
  box-shadow: 2px 2px 8px rgba(44, 44, 44, 0.336);
  -webkit-transform: scale(1.01) translateY(-3px);
  -ms-transform: scale(1.01) translateY(-3px);
  transform: scale(1.01) translateY(-3px);
}

.swsaga.sheet .window-content form.character .current-equipment .item-card:hover div {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.swsaga.sheet .window-content form.character .current-equipment .item-card:hover img {
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
}

.swsaga.sheet .window-content form.character .current-equipment .item-card img {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.swsaga.sheet .window-content form.character .current-equipment .item-card img.weapon {
  border: none;
  width: 130px;
  height: auto;
  position: absolute;
  top: 20px;
}

.swsaga.sheet .window-content form.character .current-equipment .item-card img.armor {
  border: none;
  width: 130px;
  height: auto;
  position: absolute;
  top: 25px;
}

.swsaga.sheet .window-content form.character .current-equipment .item-card p {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.swsaga.sheet .window-content form.character .current-equipment .item-card .item-name {
  position: absolute;
  top: 17px;
}

.swsaga.sheet .window-content form.character .current-equipment .item-card .item-detail {
  position: absolute;
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.swsaga.sheet .window-content form.character .current-equipment .item-card div {
  height: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  position: absolute;
  top: 20px;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}

.swsaga.sheet .window-content form.character .current-equipment .item-card div button {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: white solid 1px;
  margin: 5px;
  height: 20px;
  width: 40px;
  margin: 0;
  color: blue;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  background-color: transparent;
}

.swsaga.sheet .window-content form.character .feats-talents {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

.swsaga.sheet .window-content form.character .feats-talents > div {
  border: solid 1px #2f2f2f;
  border-radius: 3px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.swsaga.sheet form div.label-container {
  position: relative;
  border: solid 1px white;
  border-radius: 3px;
}

.swsaga.sheet form div.label-container.abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swsaga.sheet form div.label-container.abilities > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  width: initial;
  text-align: center;
}

.swsaga.sheet form div.label-container label {
  position: absolute;
  line-height: 100%;
  top: -6px;
  left: 4px;
  background: #368fe2;
  padding: 0 5px;
  font-size: 0.7rem;
}

.swsaga.sheet .half-size {
  width: 45%;
}

@-webkit-keyframes artifact-animation {
  from {
    bottom: -20%;
    opacity: 0.3;
  }
  to {
    bottom: 100%;
    opacity: 0.45;
  }
}

@keyframes artifact-animation {
  from {
    bottom: -20%;
    opacity: 0.3;
  }
  to {
    bottom: 100%;
    opacity: 0.45;
  }
}
