@font-face {
  font-family: 'Star Jedi';
  src: url('../type/starjedi-webfont.woff2') format('woff2'),
       url('../type/starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  @import 'components/sheets';
  @import 'general/typography';

  @import 'panels/main'

