input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], select, textarea{
  background: none;
  border: none;
  box-shadow: none;
  background-color: rgba(42, 116, 201, 0.288);
	border: solid 2px rgb(176, 234, 255);
	color: rgb(176, 234, 255);
  width: 100%;
}