:root{
    --text-color: #38578d;
    --background-color: #f1f1f1;
    --main-heading-font: 'SFDistant Galaxy';
    --alt-heading-font: 'SFDistant Galaxy Outline';
    --main-font: 'Verdana';
  }

@font-face {
    font-family: 'SFDistant Galaxy';
    src: 
        url('../type/SFDistantGalaxy.woff2') format('woff2'),
        url('../type/SFDistantGalaxy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFDistant Galaxy Alternate';
    src: 
        url('../type/SFDistantGalaxyAlternate.woff2') format('woff2'),
        url('../type/SFDistantGalaxyAlternate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFDistant Galaxy Outline';
    src: 
        url('../type/SFDistantGalaxyOutline.woff2') format('woff2'),
        url('../type/SFDistantGalaxyOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
