<section class='current-equipment'>
  <div class='label-container character-form'>
    <label for='equippedWeapon'>Weapon</label>
    <div id='equippedWeapon'>
      {{#each weapons as |weapon id|}}
        {{> "systems/swSaga/templates/item/partials/components/weapon-card.hbs" weapon}}
      {{/each}}
    </div>
  </div>
  <div class='label-container character-form'>
    <label for='equippedClothing'>Clothing/Armor</label>
    <div id='equippedClothing'>
      {{#each armor as |armor id|}}
        {{> "systems/swSaga/templates/item/partials/components/armor-card.hbs" armor}}
      {{/each}}
    </div>
  </div>
</section> 
