<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  {{>"systems/swSaga/templates/partials/character-details.hbs"}}
  {{>"systems/swSaga/templates/partials/stat-block.hbs"}}
  {{>"systems/swSaga/templates/partials/condition-track.hbs"}}
</form>

