<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

  {{!-- Sheet Header --}}
  {{>"systems/swSaga/templates/actor/partials/character-details.hbs"}}
  {{>"systems/swSaga/templates/actor/partials/stat-block.hbs"}}
  {{>"systems/swSaga/templates/actor/partials/character-page.hbs"}}
  {{>"systems/swSaga/templates/actor/partials/current-equipment.hbs"}}
  {{>"systems/swSaga/templates/actor/partials/feats-talents.hbs"}}

</form>

