<div class='item-card big force-card item'
        data-item-id={{_id}} 
        style="background-image: url('systems/swSaga/icons/item-card-force.svg'); background-repeat: no-repeat;background-size: cover;" >
    <p class='item-name'>{{item.name}}</p>
</div>

