 .item-card.big {
    border-radius: 3px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-box-shadow: 2px 2px 3px rgba(44, 44, 44, 0.144);
    box-shadow: 2px 2px 3px rgba(44, 44, 44, 0.144);
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 80px;
  }

  .item-card.big:hover::after {
    content: "";
    -webkit-animation: shine 3s ease-in-out;
    animation: shine 3s ease-in-out;
    position: absolute;
    top: -210%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    background: rgba(175, 218, 59, 0.13);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.774)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.774) 92%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.774) 92%, rgba(255, 255, 255, 0) 100%);
  }

   .item-card.big:active::after {
    opacity: 0;
  }

   .item-card.big .buttons {
    opacity: 0;
  }

   .item-card.big:hover .buttons {
    opacity: 1;
  }

   .item-card.big:hover .item-detail {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

   .item-card.big:hover .item-name {
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
  }

  .item-card.big.force-card.item{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-card.big.force-card .item-name{
    font-size: .75rem;
    position: initial;
    height: unset;
  }

  .swsaga.sheet .item-card.big p.item-name{
    color: var(--text-color);
    line-height: 15px;
  }
  

  .item-card.big.force-card:hover .item-name{
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }

   .item-card.big img.weapon{
    transition: opacity .2s linear;
  }

   .item-card.big img.weapon {
    border: none;
    width: 60%;
    max-width: initial;
    max-height: 35px;
    position: absolute;
    top: 20px;
    left: 25px;
    align-self: center;
  }

   .item-card.big img.armor {
    border: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 15px;
  }

   .item-card.big:hover img.weapon{
    opacity: 0;
  }

   .item-card.big p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }

   .item-card.big .item-name {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100px;
    line-height: 25px;
    color: white;
    display: inline-block;
    text-align: center;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
  }

  .swsaga.sheet .item-card.big p{
    color: white;
  }

   .item-card.big .item-detail {
    position: absolute;
    bottom: 2px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    color: white;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
  }

   .item-card.big .buttons {
    height: 24px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: absolute;
    top: 20px;
    margin: auto;
    z-index: 100;
    padding: 2px;
  }

   .item-card.big .buttons button {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: white;
    height: 30px;
    width: 40%;
    margin: 0;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    border: 2px solid #B44242;
    color: #B44242;
    text-transform: uppercase;
    font-weight: bold;
  }

   .item-card.big #context-menu.expand-down {
    top: 0;
    -webkit-transform: translateX(12%);
    -ms-transform: translateX(12%);
    transform: translateX(12%);
  }

   .item-card.big #context-menu {
    width: 80%;
    min-width: initial;
    background: var(--text-color);
    border: none;
    z-index: 100;
  }

   .item-card.big #context-menu li.context-item {
    border: solid transparent 2px;
  }

   .item-card.big #context-menu li.context-item:hover {
    text-shadow: 0 0 4px #2694d4;
    border: solid white 2px;
  }

   .item-card.big.armor-card:hover {
    -webkit-box-shadow: 0px 0px 7px #257A8C;
    box-shadow: 0px 0px 7px #257A8C;
  }

   .item-card.big.armor-card button {
    border: 2px solid #257A8C;
    color: #257A8C;
  }

   .item-card.big.armor-card button:hover {
    background: #257A8C;
    color: white;
  }

   .item-card.big.weapon-card:hover {
 
  }

   .item-card.big.weapon-card button {
    border: 2px solid #B44242;
    color: #B44242;
  }

  
 .item-card.big.weapon-card button:hover {
    background: #B44242;
    box-shadow: 0 0 2px #ec7777;
    color: white;
    transition: all .25s;
  }

   .item-card.big.weapon-card button:active {
    background: #ffffff;
    box-shadow: 0 0 2px #ec7777;
    color: white;
  }

  .item-card.big .hover-info{
    transform: translate(0, -150px);
    width: 200px;
    height: 150px;
    display: none;
    opacity: 0;
    z-index: 200;
    background-color: green;
  }

   .item-card.big:hover .hover-info{
    animation-name: fadeMeIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }