
.sheet{
  overflow:hidden;
  
  input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], select, textarea{
    background: none;
    border: none;
    box-shadow: none;
    // background-color: rgba(42, 116, 201, 0.288);
    // border: solid 2px rgb(176, 234, 255);
    border: solid 2px black;
    width: 100%;
    line-height: 180%;
    font-size: 1.1rem;
    padding: .3rem .8rem;
    height: 48px;
    // color: white;
    margin: 0;
    }

    p, span, button, a, input, select, textarea, th, td{
      font-family: "Verdana";
      // color: white;
    }
  

    h1, h2, h3, h4, label{
      font-family: 'Star Jedi';
      letter-spacing: 1px;
    }
    

  header.sheet-header{
    flex: initial;


    h1{
      margin: 0;
      input{
        margin: 0;
        width: 100%;
      }
    }
    img{
      flex: 0 0 125px;
      height: 125px;
    }

    .section-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 106.5%;
    }
  }



  header.sheet-header > div > div{
    display: flex;
    justify-content: space-between;

    div{
      flex: 1 1 auto;
      margin: .25rem;
    }
  }

  .window-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
 
    overflow:hidden;
    background: white;
    // color: white;
    // background: repeating-linear-gradient(
		// 		to top,
		// 		rgb(0, 157, 216) 0%,
		// 		rgb(54, 167, 232) 5px,
    //     rgb(0, 157, 216) 0%
		// );
      // &:after{
      //   content: '';
      //   animation-name: 'artifact-animation';
      //   text-align: center;
      //   opacity: 0;
      //   height: 100px;
      //   width: 100%;
      //   background-image: radial-gradient(rgba(54, 92, 163, 0.459), rgba(125, 198, 224, 0.007) 80%);
      //     animation-duration: 7s;
      //   position: absolute;
      //   bottom: 0%;
      //   left: -30px;
      //   animation-iteration-count: infinite;
      //   animation-timing-function: linear;
      //   overflow:hidden;
      // }  

      .stat-block{
        margin: 1rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        div{
          margin: .25rem 0;
          width: 125px;
        }
      }
  }

table{
  // border: solid 2px rgb(176, 234, 255);
  background-color: none;
  // box-shadow: 0 1px 4px rgba(176, 234, 255,0.6);
  // color: white;
  td{
    margin: .25rem;
  }
}
}


form div.label-container{
  position: relative;
  
  label{
    position: absolute;
    top: -7px;
    left: 8px;
    background: white;
    // background: repeating-linear-gradient(
    //   to top,
    //   rgb(0, 157, 216) 0%,
    //   rgb(54, 167, 232) 5px,
    //   rgb(0, 157, 216) 0%
    // );
    padding: 0 5px;
    font-size: .7rem;
  }
}


.small-flex{
  width: 30px;
}


@keyframes artifact-animation {
  from {bottom: -20%; opacity: .3;}
  to {bottom: 100%; opacity: .45;}
}
