
.sheet{
  h1{
    color: white;
  }

  .window-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: repeating-linear-gradient(
				to top,
				rgb(0, 157, 216) 0%,
				rgb(54, 167, 232) 5px,
        rgb(0, 157, 216) 0%
			)
  }

  table{
    border: solid 2px rgb(176, 234, 255);
    background-color: none;
    box-shadow: 0 1px 4px rgba(176, 234, 255,0.6);
    
    td{
      margin: .25rem;
    }
  }


  .header-fields{
    input{
      margin-right: 0;
      color: white;
    }
  }
}



