body{
  background-image: none;
  background: repeating-linear-gradient(
    to top,
    rgb(0, 157, 216) 0%,
    rgb(54, 167, 232) 5px,
    rgb(0, 157, 216) 0%
  )
}

body:after{
  content: '';
	animation-name: artifact-animation;
	text-align: center;
	opacity: 0;
	height: 100px;
	width: 100%;
	background-image: radial-gradient(rgba(22, 56, 121, 0.459), rgba(176, 234, 255, 0.007) 80%);
  	animation-duration: 7s;
	position: absolute;
	bottom: 0%;
	left: -30px;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}  

@keyframes artifact-animation {
  from {bottom: -20%; opacity: .3;}
  to {bottom: 100%; opacity: .45;}
}